* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
div#root,
.full-height {
  height: 100%;
}

a {
  color: #0060b6;
  text-decoration: none;
}
a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  outline: none;
}

textarea {
  overflow: hidden;
  resize: none;
}

.todo-header {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.todo-add-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  height: calc(100% - 64px);
}
.todo-add-form > div, .todo-add-form > button {
  max-width: 500px;
  width: 90%;
}

.portfolio_container {
  background-color: #101010;
  color: #f4f4f4;
}
.portfolio_container section {
  padding: 16px 0;
}
.portfolio_container .main_title {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 40px;
  margin: 10px 0px;
}
.portfolio_container .main_title span {
  color: #f5ac05;
}
.portfolio_container .main_title p {
  position: absolute;
  font-size: 65px;
  top: -19px;
  left: 0;
  right: 0;
  opacity: 0.1;
  letter-spacing: 13px;
}
.portfolio_container .primary_button {
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  height: 34px;
  color: white;
  width: 200px;
  border: 1px solid #f5ac05;
  border-radius: 17px;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding-left: 31px;
  cursor: pointer;
}
.portfolio_container .primary_button div {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 34px;
  width: 34px;
  padding: 8px;
  background: #f5ac05;
  border-radius: 50%;
  border: 1px solid #f5ac05;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_container .primary_button div svg {
  font-size: 20px;
}
.portfolio_container header {
  background-color: #f5ac05;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio_container header .nav-container {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.portfolio_container header .nav-container a {
  color: #000000;
  border-bottom: 5px solid transparent;
}
.portfolio_container header .nav-container a:hover {
  border-bottom: 5px solid #e7e4db;
}
.portfolio_container main {
  position: relative;
}
.portfolio_container main .wave {
  position: absolute;
  top: 0;
}
.portfolio_container #landing {
  height: calc(100vh - 50px);
  width: 90%;
  max-width: calc(1000px + 200px);
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .portfolio_container #landing {
    flex-direction: column;
  }
}
.portfolio_container #landing img {
  width: 500px;
  height: 500px;
  transition: width 0.5s, height 0.5s;
}
@media (max-width: 800px) {
  .portfolio_container #landing img {
    width: 250px;
    height: 250px;
    transition: width 0.5s, height 0.5s;
  }
}
.portfolio_container #landing > div {
  z-index: 2;
}
.portfolio_container #landing .info .name {
  color: #f5ac05;
  font-size: 40px;
  text-transform: uppercase;
  transition: font-size 0.5s;
}
@media (max-width: 800px) {
  .portfolio_container #landing .info .name {
    font-size: 24px;
    transition: font-size 0.5s;
  }
}
.portfolio_container #about {
  padding: 16px;
  max-width: 1000px;
  margin: 0 auto;
}
.portfolio_container #about .main_data {
  display: flex;
}
@media (max-width: 800px) {
  .portfolio_container #about .main_data {
    flex-direction: column;
  }
}
.portfolio_container #about .main_data > div {
  flex: 1;
}
.portfolio_container #about .main_data .data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
}
.portfolio_container #about .main_data .skills h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.portfolio_container #about .main_data .skills > div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.portfolio_container #about .main_data .skills > div > div {
  background-color: #1c1b23;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_container #about .main_data .skills > div > div:nth-child(1) {
  left: 0;
}
.portfolio_container #about .main_data .skills > div > div:nth-child(2) {
  left: 80px;
  top: 20px;
}
.portfolio_container #about .main_data .skills > div > div:nth-child(3) {
  left: 160px;
  top: 40px;
}
.portfolio_container #about .main_data .skills > div > div:nth-child(4) {
  left: 240px;
  top: 60px;
}
.portfolio_container #about .main_data .skills > div > div:nth-child(5) {
  left: 320px;
  top: 90px;
}
.portfolio_container #about .main_data .skills > div > div:nth-child(6) {
  left: 160px;
  bottom: 40px;
}
.portfolio_container #contact-me {
  max-width: 1000px;
  margin: 0 auto;
}
.portfolio_container #contact-me .data-container {
  display: flex;
  gap: 10px;
  margin: 20px;
}
@media (max-width: 800px) {
  .portfolio_container #contact-me .data-container {
    flex-direction: column;
  }
}
.portfolio_container #contact-me .data-container .personal_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .portfolio_container #contact-me .data-container .personal_details {
    flex-direction: row;
  }
}
.portfolio_container #contact-me .data-container .personal_details h4 {
  text-transform: uppercase;
  font-size: 20px;
}
.portfolio_container #contact-me .data-container .personal_details .data .label {
  color: #737373;
}
.portfolio_container #contact-me .data-container .personal_details .data .value {
  color: #999999;
}
.portfolio_container #contact-me .data-container .personal_details .social {
  display: flex;
  gap: 16px;
}
@media (max-width: 800px) {
  .portfolio_container #contact-me .data-container .personal_details .social {
    flex-direction: column;
  }
}
.portfolio_container #contact-me .data-container .personal_details .social svg {
  color: #fff;
  background-color: #282828;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
}
.portfolio_container #contact-me .data-container .personal_details .social svg:hover {
  color: #f5ac05;
}
.portfolio_container #contact-me .data-container form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
.portfolio_container #contact-me .data-container form .user_data {
  display: flex;
  gap: 20px;
}
.portfolio_container #contact-me .data-container form input,
.portfolio_container #contact-me .data-container form textarea {
  background-color: #242424;
  min-height: 30px;
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  color: #f5ac05;
}
.portfolio_container #contact-me .data-container form textarea {
  min-height: 120px;
}
.portfolio_container #contact-me .data-container form p {
  text-align: center;
}
.portfolio_container #contact-me .data-container form .success {
  color: green;
}
.portfolio_container #contact-me .data-container form .error {
  color: red;
}
.portfolio_container footer {
  height: 24px;
}

/*# sourceMappingURL=index.css.map */
